.appHeader {
    position: fixed;
    display: block;
    width: 100%;
}

.pre-container {
    padding-top: 45px;
    height: 100%;
    .appLogo {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        width: 100%;
        height: 45px;
        background-color: #38464f;
    }
    .pre-sidenav {
        background: #0e83cd;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 0 !important;
    }
    .pre-content {
        background: #e1e1e6;
        overflow: auto;
    }
    .bottom-nav {
        position: fixed;
        bottom: 0px;
        background: #0e83cd;
        width: 100%;
        height: 52px;
        z-index: 666;
        display: block;
    }
}

.mobile-sideNav {
    background: #0e83cd;
    position: fixed;
    left: auto;
    top: 45px;
    left: 0;
    bottom: 0;
    width: 20%;
    min-width: 200px;
    z-index: 666;
}

.notification-sideNav {
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 666;
    background: #ffffff;
}

.transparent-layer, .transparent-layer1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    background: transparent;
    position: fixed;
    background: rgba(0, 0, 0, 0.32);
}

.mobile-hambutton {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #ffffff;
    cursor: pointer;
    i {
        font-size: 27px;
    }
}


/* Absolute Center Spinner */

.spinner-wraper{
    position: absolute;
    top: calc(100% - 60%);
    left: calc(100% - 50%);
    z-index: 9999;
    .spinner-inline {
        display: inline-block;
        background: #0e83cd;
        border-radius: 50%;
        padding: 10px;
    }
}

/deep/ mat-progress-spinner{
    circle{
        stroke: #ffffff !important;
    }
}

$tablet-width: 768px;
$desktop-width: 1024px;

  @media only screen and (max-width: #{$tablet-width}) {
    /* For mobile phones: */
    .notification-sideNav {
        width: 75% !important;
    }
}
