<div class="appHeader">
  <app-premiere-header (notificationClick)="notification_state = 'notification_in'"></app-premiere-header>
</div>
<div fxLayout="row" class="pre-container">
  <div fxFlex="12" fxFlex.sm="8" fxFlex.md="8" fxHide.xs class="pre-sidenav">
    <app-navigation></app-navigation>
  </div>
  <div fxFlex="88" fxFlex.sm="92" fxFlex.md="92" fxFlex.xs="100" class="pre-content">
    <router-outlet>
      <div class="spinner-wraper" [style.display]="showLoader ? 'block' : 'none'">
        <span class="spinner-inline">
          <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner>
        </span>
      </div>
    </router-outlet>
  </div>

  <!-- <div class="bottom-nav" fxHide.sm  fxHide.md fxHide.lg fxHide.xl><app-navigation></app-navigation></div> -->
  <span class="mobile-hambutton" (click)="menuState = 'in'" fxHide.sm fxHide.md fxHide.lg fxHide.xl>
    <i class="material-icons">menu</i>
  </span>

  <div class="transparent-layer" (click)="menuState = 'out'" *ngIf="menuState === 'in'? true: false" fxHide.sm fxHide.md fxHide.lg
    fxHide.xl></div>
  <div [@sideNavAnimation]="menuState" class="mobile-sideNav" fxHide.sm fxHide.md fxHide.lg fxHide.xl>
    <app-navigation></app-navigation>
  </div>

  <div class="transparent-layer1" (click)="notification_state = 'notification_out'" *ngIf="notification_state === 'notification_in'? true: false"></div>
  <div [@notificationAnimation]="notification_state" class="notification-sideNav">
    <app-notification></app-notification>
  </div>

</div>