<mat-card>
        <mat-card-header>
                <span class="vehicle-icon"><i class="material-icons">local_shipping</i></span>
                <span class="vehicle-header-text">TN55E6694</span>
                <span class="vehicle-header-text">Tata Primo 4928.S</span>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" class="vehicle-content" fxLayoutGap="15px">
                <div class="vehicle-description">
                    <span class="vehicle-placeholder">Engine Number: </span>
                    <span class="vehicle-text">VFDFDFW5468</span>
                </div>
                <div class="vehicle-description">
                    <span class="vehicle-placeholder">Engine Chasis Number: </span>
                    <span class="vehicle-text">IUHF6526</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Vehicle Year: </span>
                        <span class="vehicle-text">2015</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Vehicle Tonnage: </span>
                        <span class="vehicle-text">49</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">FC Expiry Date: </span>
                        <span class="vehicle-text">13-12-2017</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Insurance Expiry Date: </span>
                        <span class="vehicle-text">05-09-2018</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Vehicle Documents: </span>
                        <span class="vehicle-text">Available</span>
                </div>
            </div>
        </mat-card-content>
</mat-card> 