<mat-card class="reg-transporter-wrapper" fxFlex fxFlexAlign="start">
  <mat-card-title>Register as New Transporter
    <span class="closeBtn"  (click)="closeEvt()">
        <i class="material-icons">close</i>
    </span>
  </mat-card-title>
  <form #addNew="ngForm" (ngSubmit)="onSubmit(addNew)" fxLayout="column" fxLayoutWrap fxLayoutGap="15px">
      <mat-form-field class="example-full-width" >
          <input matInput name="transporter_name" [(ngModel)]="createTransporter.transporter_name" placeholder="Transporter Name" required #transporter_name="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <textarea matInput name="transporter_address" placeholder="Transporter Address" matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5" required [(ngModel)]="createTransporter.transporter_address" #transporter_address="ngModel"></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
          <input matInput name="transporter_email" type="text" placeholder="Transporter Email Address" required [(ngModel)]="createTransporter.transporter_email" #transporter_email="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width" >
          <input matInput name="transporter_mobile_no" placeholder="Transporter Mobile Number" required [(ngModel)]="createTransporter.transporter_mobile_no" #transporter_mobile_no="ngModel">
      </mat-form-field>

      <mat-form-field class="example-full-width" >
          <input matInput name="transporter_password" type="password" placeholder="Enter New Password" required [(ngModel)]="createTransporter.transporter_password" #transporter_password="ngModel">
      </mat-form-field>

      <mat-card-actions class="material-btn-grp" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
          <button mat-raised-button class="submit-btn" [disabled]='!addNew.valid'>SignUp</button>
      </mat-card-actions>
      
  </form>
</mat-card>