.headerTopLayer{
    height: 45px;
    padding: 0 10px;
    background: #0E6CAA;
    color: #ffffff;
    .nav-groups{
        display:flex;
        align-items: center;
        .nav-buttons{
            cursor: pointer;
            padding-right: 5px;
        }
    }
}
.button-wrapper{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-wrap{
    position: absolute;
    top:5px;
}
::ng-deep.mat-menu-panel{
    position: absolute;
    top: 40px;
    left: -12px;
}