<mat-card>
        <mat-card-header>
                <span class="vehicle-icon"><i class="material-icons">local_shipping</i></span>
                <span class="vehicle-header-text">TN55E6694</span>
                <span class="vehicle-header-text">Tata Primo 4928.S</span>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" class="vehicle-content" fxLayoutGap="15px" fxLayoutGap.xs="10px">
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Driver Name: </span>
                        <span class="vehicle-text">Arun</span>
                </div>
                <div class="vehicle-description">
                    <span class="vehicle-placeholder">Advance: </span>
                    <span class="vehicle-text">50,000</span>
                </div>
                <div class="vehicle-description">
                    <span class="vehicle-placeholder">Diesel Consumed : </span>
                    <span class="vehicle-text">45L</span>
                </div>
                <div class="vehicle-description">
                    <span class="vehicle-placeholder">Diesel Price : </span>
                    <span class="vehicle-text">8,500</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Driver Commission : </span>
                        <span class="vehicle-text">10,000</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Cleaner Commission : </span>
                        <span class="vehicle-text">4,500</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Toll Charges : </span>
                        <span class="vehicle-text">12,000</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">RTO & PC Charges : </span>
                        <span class="vehicle-text">5,000</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Total Amount : </span>
                        <span class="vehicle-text">41,000</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Balance : </span>
                        <span class="vehicle-text">9,000</span>
                </div>
                <div class="vehicle-description">
                        <span class="vehicle-placeholder">Extra Amount : </span>
                        <span class="vehicle-text">000</span>
                </div>
            </div>
        </mat-card-content>
</mat-card> 